#avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: red;
    background-size: 40px 40px;
    border-radius:5px;
}

#headertext {
    float: left;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    color: lightgray;
    vertical-align: middle;
    line-height: 60px;
}

#settingsitem {
    float:right;
    margin: 5px;
    padding: 5px;
    background-repeat: no-repeat;
}

#settingsitem:hover {
    background: rgba(255,255,255,.25);
    border-radius: 15px;
}

#addfolderitem {
    float:right;
    margin: 5px;
    padding: 5px;
    margin-right: 10px;
}

#addfolderitem:hover {
    background: rgba(255,255,255,.25);
    border-radius: 15px;
}

#exititem {
    float:right;
    margin: 5px;
    padding: 5px;
    margin-right: 10px;
}

#exititem:hover {
    background: rgba(255,255,255,.25);
    border-radius: 15px;
}